@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,700&family=Ubuntu:wght@300&display=swap');

body  {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto
}

.left-login>h1 {
    width: 95%;
    height: auto;
    font-size: 2vw;
    color: #77ffc0;
    text-align: right;
}

.left-login-image {
    width: 50vh;
    height: auto;
    margin-right: 40%;
    margin-top: -30%;
    align-items: center;
    display: flex;
}


.rigth-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 55px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin: auto;

}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 10;
}

.card-login>img {
    width: 45%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #0eccccde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;

}

.textfield>input::placeholder {
    color: #f0ffff94;
}

.button-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #2600ff;
}

.button-create-acount {
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    background: #00ff88;
    border: none;
    margin: 25px;
    font-style: italic;
}


@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
        margin: 10px;
    }

    .card-login {
        width: 90%;
        margin: auto;
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Garante que o contêiner cubra toda a altura da tela */
}

.box {
    background-color: #00000056;
    color: white;
    /* Outras propriedades CSS para a sua caixa */
}

fieldset {
    border: 3px solid #affc41;
}

legend {
    border: 1px solid #affc41;
    padding: 8px;
    text-align: center;
    background-color: #2600ff;
    border-radius: 5px;
    color: white;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid #affc41;
    outline: none;
    color: rgb(211, 202, 202);
    font-size: 15px;
    width: 100%;
    letter-spacing: 1.5px;

}

select {
    background: #affc41;
    color:rgb(19, 19, 19);
    letter-spacing: 1.5px;
    border: none;
    border-bottom: 1px solid #affc41;

}


.sendButton input{
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    background: #00ff88;
    border: none;
    display: flex;
    font-style: italic;
    margin-left: auto;    
}
